@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-input {
    @apply p-1.5 px-3 bg-[#f1f1f1] dark:bg-slate-700 w-full font-bold rounded-lg outline-none text-[#333] dark:text-white;
  }
}



button[disabled],
a[aria-disabled="true"],
.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.before::before {
  content: "";
}


html .moon {
  display: none;
}

html.dark .sun {
  display: none;
}

html.dark .moon {
  display: block;
}

.popup-shadow {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
}