@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-input {
    @apply p-1.5 px-3 bg-[#f1f1f1] dark:bg-slate-700 w-full font-bold rounded-lg outline-none text-[#333] dark:text-white;
  }

  .prose {
    @apply [&_*]:mt-5 [&_h5]:font-[500] [&_h5]:text-xl [&_img]:rounded-[6px] [&_img]:mx-auto [&_img]:border-[2px] [&_img]:max-w-[80%] [&_img]:border-transparent;
  }
}

@font-face {
  font-family: "Comfortaa";
  src: url("/Comfortaa-VariableFont.ttf") format("truetype-variations");
  font-weight: 500 700;
  font-display: swap;
}

html {
  font-family: "Comfortaa", system-ui;
}

button[disabled],
a[aria-disabled="true"],
.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.before::before {
  content: "";
}

label {
  color: #666;
}

html .moon {
  display: none;
}

html.dark .sun {
  display: none;
}

html.dark .moon {
  display: block;
}

.popup-shadow {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
}

iframe {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
}

.tiptap {
  outline: none;
  border: 1px solid var(--a-10-cl);
  padding: 0 10px;
}

summary {
  cursor: pointer;
}
