.button {
  &:active {
    &::before {
      box-shadow: none !important;
    }
  }

  &.variant {
    &--primary {
      border-radius: 8px;

      &:active {
        transform: translateY(2px);
      }
      &::before {
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        border-radius: 8px;
      }
    }
  }

  &.color {
    &--primary {
      &::before {
        border-color: #a00000;
        box-shadow: 0 2px 0 #a00000;
      }
    }

    &--second {
      &::before {
        border-color: var(--second-btn-cl);
        box-shadow: 0 2px 0 var(--second-btn-cl);
      }
    }

    &--third {
      &::before {
        border-color: #a00000;
        box-shadow: 0 2px 0 #a00000;
      }
    }
  }
}
